/.idea/
/build/
/.dart_tool/
/doc/api/
coverage/html/
coverage/lcov.info

# Example app artifacts
/example/.dart_tool/
/example/build/
/example/.metadata
/example/pubspec.lock
/example/.flutter-plugins
/example/.flutter-plugins-dependencies
/example/.packages
/example/.pub/
/example/.pub-cache/
/example/coverage/

# Example iOS build outputs
/example/ios/.dart_tool/
/example/ios/.symlinks/
/example/ios/Podfile.lock
/example/ios/Pods/
/example/ios/Flutter/AppFrameworkInfo.plist
/example/ios/Flutter/Debug.xcconfig
/example/ios/Flutter/Release.xcconfig
/example/ios/Flutter/Generated.xcconfig
/example/ios/Flutter/Flutter.podspec
/example/ios/Flutter/flutter_export_environment.sh
/example/ios/Flutter/ephemeral/
